body {
 background-color: #060909;
  color:white;
  font-sixe: 24px;
  margin: 10% 20%;
}
h1 {
  text-align: center;
  border-top:1px solid;
  border-bottom:1px solid;
}
.exp-header{
  text-align: center;
h4 {
  border-top:1px solid;
  border-bottom:  1px solid;
  text-align: center:
}
.header {
  border: 1px solid ;
  border-bottom:1px solid;
  padding-left:10px;

  
